.hero {
    padding:0;
    position: relative;


    &__content {
        z-index: 2;
        position: absolute;
        top:5%;
        left:5%;
        @include large-up{
        top:35%;
        left:5%;

        }
    }
    &__heading{
        font-family: 'News Gothic BT',sans-serif;
        font-weight: bold;
        font-size: 24px;

        @include medium-up{
            font-size: 48px;
        }
    }
    &__subheading{
        font-family: 'Poppins',sans-serif;
        width: 70%;
        font-size: 14px;
        color:$gray-text;
    }
    &__button{
        background: transparent;
        border:1px solid $white;
        color:$white;
        border-radius: 15px;
        padding: 0px 15px;
        transition: .6s;
        &:hover{
            transform: translateY(-1px);
        }
    }
}