.hero {
    padding:0;
    position: relative;


    &__content,&__content2,&__content3 {
        z-index: 2;
        position: absolute;

    }
    &__content{
        top:8%;
        left:5%;
        @include large-up{
        top:40%;
        left:5%;

        }
    }
    &__content2{
        left:5%;
        top:25%;
    }
    &__content3{
        left:5%;
        top:25%;
    }

    &__heading{
        font-family: 'News Gothic BT',sans-serif;
        font-weight: bold;
        font-size: 24px;

        @include medium-up{
            font-size: 48px;
        }
    }
    &__subheading{
        font-family: 'Poppins',sans-serif;
        width: 70%;
        font-size: 14px;
        color:$gray-text;
        @include medium-up {
            font-size: 16px;
        }
    }
    &__button,&__button3{
        background: transparent;
        border-radius: 15px;
        padding: 0px 15px;
        transition: .6s;
        &:hover{
            transform: translateY(-1px);
        }
    }
    &__button{
        border:1px solid $white;
        color:$white;
    }
    &__button3{
        border:1px solid $black;
    }
}
